.userItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 1rem;
  margin-bottom: .5rem;
}

.userLink {
  text-decoration: none;
  color: green
}

.userAvatar {
  width: 60px;
  height: 60px;
  border-radius: 40%;
  margin-left: 1.5rem;
}
