<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Test</title>
    <link rel="stylesheet" href="{{ static('index.css') }}">
</head>
<body>
    <div class="container">
        <h1>ТОП-10 Пидоров за последний год</h1>
        <div class="stat">
            {% for user in chat_stat.users %}
                <div class="stat-item">
                    <span>{{ loop.index }}. {{ user.username }} - {{ user.selected_count }} раз(а)</span>
                    <img class="stat-item-avatar" src="/media/{{ user.user_id }}.jpg" alt="avatar">
                </div>
            {% endfor %}
        </div>
        <h2>Всего участников {{ chat_stat.in_game_cnt }}</h2>
    </div>
</body>
</html>